name: Reusable YAML Lint (YAML Formatting & Validation)

on:
  workflow_call:
    inputs:
      include_files:
        description: "Comma-separated list or regex patterns to include"
        required: false
        type: string

      exclude_files:
        description: "Comma-separated list or regex patterns to exclude"
        required: false
        type: string

      report_only:
        description: "Do not fail the build even if errors occur"
        required: false
        type: boolean
        default: false

      show_errors:
        description: "Show detailed error output"
        required: false
        type: boolean
        default: true

      show_skipped:
        description: "Show skipped / ignored files in the output"
        required: false
        type: boolean
        default: false

      no_color:
        description: "Disable ANSI colours."
        required: false
        type: boolean
        default: false

permissions:
  contents: read

jobs:
  yaml-lint:
    name: YAML Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Setup Python 3.x
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405  # v6.2.0
        with:
          python-version: "3.x"

      - name: Run yaml lint
        env:
          INCLUDE_FILES: ${{ inputs.include_files }}
          EXCLUDE_FILES: ${{ inputs.exclude_files }}
          REPORT_ONLY: ${{ inputs.report_only }}
          SHOW_ERRORS: ${{ inputs.show_errors }}
          SHOW_SKIPPED: ${{ inputs.show_skipped }}
          NO_COLOR: ${{ inputs.no_color }}
        run: |
          bash <(curl -s https://raw.githubusercontent.com/CICDToolbox/yaml-lint/master/pipeline.sh)
